
.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    cursor: pointer;
    margin: 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  .book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  .book-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .book-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .book-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .book-description {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
  
  .book-publisher {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #888;
  }
  #user2 {
    background-color: gray;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #user2:hover {
    background-color: gray;
    transform: scale(1.05);
  }
  #user1{
    background-color: aqua;
  }